option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: heatmaps.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
    
  # Ensure our environment variables are available
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: heatmaps.settings.aws
    
commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  03_createsu:
    command: "source /var/app/venv/*/bin/activate && python manage.py create_superuser"
    leader_only: true
    
container_commands:
  01_setup_apache:
    command: "cp .ebextensions/django.conf /etc/httpd/conf.d/django.conf"
    ignoreErrors: false 